<div class="container sign">
  <h1>How long have you got?</h1>

  <label for="mydate"></label>

  <input name="mydate" id="mydate" type="text" data-role="datebox" placeholder="Click to enter your allotted time.." data-options='{"mode": "durationbox", "useFocus": true, "useButton": false, "overrideTitleDateDialogLabel": "Hopp Timer"}'>

</div>